/* html{
    scroll-behavior: smooth;
} */

body{
    background-color: #141414;
    margin-top: 100px;
    /* overflow: hidden; */
}

section{   
    margin-bottom: 300px;
    
}

#form1, #form2{
    max-width: 400px;
    margin: auto;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    font-size: 30px;
    padding:0;
    margin:0;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;;
    font-size: 18px;
    line-height:20px;
    margin-top:20px;
    margin-bottom:30px;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.3px;
    
}

input[type="text"]{
    background-color: #333333;
    border: none;
    padding:10px;
    border-radius: 5px;
    width: 100%;
    margin-top:10px;
    margin-bottom:20px;
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


input[type="radio"]{
    margin-top:10px;
    margin-bottom:10px;
    color: #d9d9d9;;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    accent-color: #cc0000;
}

/* label[for="pronoun"]{
    margin-top:10px;
    margin-bottom:10px;
    color: #696969;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.3px;
} */

#pronounDiv{
    margin-bottom: 20px;
}

#nextbutton, #submitbutton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffffff;
    color: #141414;
    padding: 14px 28px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    
    
}

#nextbutton:hover, #submitbutton:hover{
    background-color: #cc0000;
    color: #ffffff;
}



form{
    margin-bottom:30px;
}

#form2{
    padding-top: 100px;
}

#dramarec{
    padding-top: 50px;
}













img{
    /* position: relative; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:800px;
   
}



#title {
    max-width: 700px;
    margin: auto;
    margin-top:-140px;
    font-size: 50px;
}

/* #button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:15px;
    background-color: #ffffff;
    padding:10px 20px;
    width:70px;
    border-radius: 5px;
    position: absolute;
}

#button i{
    color: #141414;
    font-size:25px;
}

#button p{
    color: #141414;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0; 
} */



#info{
    display: flex;
    flex-direction: row;
    max-width: 700px;
    margin: auto;
    gap:50px;
    padding-top:100px;
}



#description{
    /* margin-left:450px; */

    /* max-width: 400px; */

    
    max-width: 500px;
    margin: auto;

}

#description p{
    
    /* max-width: 40%; */
    line-height: 30px;
    font-size: 20px;
}

#cast_genre p{
    font-size: 18px;
}